<div style="text-align: center;">
    <h1>Welcome To InsuredMine</h1>
<h2>InsuredMine is the All-In-One Insurance CRM made by insurance agents for insurance agents. Want to grow your agency sales?</h2>
<h5>Address: 3rd floor, #501, HN Tower, 5th Main Rd, Sector 7, HSR Layout, Bengaluru, Karnataka 560068</h5>
</div>

<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <img src="/assets/img/img-20.jpg" class="card-img-top" alt="image">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/img/img-21.jpg" class="card-img-top" alt="image">
          </mat-grid-tile>
      </mat-grid-list>
      
    </mat-card-content>
  </mat-card>
  <footer class="fixed-bottom" style="text-align: center">
    <h5
       style="margin-top: 41px;">© GROUP TITLE 2015
    </h5>
    </footer>